body{
    background-color: #2e2e2e;
    text-align: left;
}

#background{
    margin: auto;
    height: 1100px;
    width: 1920px;
    background-color: #3b3b3b;
}

#upperlayout{
    height: 1080px;
    width: 150px;
    position: absolute;
    left: 0;
}

#bottomlayout {
    margin: 0 0;
    padding: 0 150px;
}

#canvas{
    background: url(images/transparent.png);
}

#bottom{
    text-align: center;
    

}

/*class*/
.tool{
    margin: 5px 10px;
}

div.property {
    display: none;
    margin: 0 10px;
    padding-left: 0px;
    float: left;
    max-height: 134px;
    min-width: 240px;
    max-width: 512px;

    color: #7b7b7b;
    font-size: 20px;
    line-height: 0.5em;
    text-align: left;
    font-family: monospace;
}

.clearbuttons{
    
}